.logo {
	margin-top: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

#pagebody {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin-top: 20px;
}